<!DOCTYPE html>
<html>
  <head>
    <title>My Online Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <script src="assets/js/jquery-3.1.1.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/angular.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h4><span class="glyphicon glyphicon-search"></span> Search</h4>
      </div>
      <div class="page-header">
        <h1>My Online Shop</h1>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <span class="visible-xs navbar-brand">Sidebar menu</span>
              </div>
              <div class="navbar-collapse collapse sidebar-navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Menu Item 1</a></li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Page 1-1</a></li>
                      <li><a href="#">Page 1-2</a></li>
                      <li><a href="#">Page 1-3</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Menu Item 2</a></li>
                  <li><a href="#">Menu Item 3</a></li>
                  <li><a href="#">Menu Item 4</a></li>
                  <li><a href="#">Reviews <span class="badge">1,118</span></a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active">Data</li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <img src="assets/img/show.jpg" alt="Lights" style="width:100%"/>
            </div>
            <div class="col-sm-6">
              test
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                  <p>This area is populated by the product description. If you ever run out of things to say about what you're selling then take a look at 9 ways to write compelling product descriptions. In Theme Settings you can also change the product description position to the right of the product images.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <b>You might also like</b>
            </div>
          </div>
        </div>
    </div>
</div>
</body>
</html>
