<html lang="en">
	<head>
		<title>My Online Shop</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script src="js/jquery-3.1.1.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="https://www.w3schools.com/lib/w3.js"></script>
		<script>
			w3.includeHTML();
		</script>
	</head>
	<body>
		
	</body>
	</html>